---
const links = [
  {
    name: "Portfolio",
    url: "https://zemerik.vercel.app/",
  },
  {
    name: "Resume",
    url: "https://zemeriksresume.vercel.app"
  },
  {
    name: "Terminal",
    url: "https://zemeriksterminal.vercel.app"
  },
  {
    name: "Blog",
    url: "https://zemerik.hashnode.dev",
  },
];

const socialLinks = [
  {
    name: "X",
    url: "https://x.com/Zemerik_X",
    image: "icons/x.png",
  },
  {
    name: "Instagram",
    url: "https://instagram.com/Zemerik_Insta",
    image: "icons/instagram.png",
  },
  {
    name: "LinkedIN",
    url: "https://linkedin.com/in/zemerik",
    image: "icons/linkedin.png",
  },
  {
    name: "Discord",
    url: "https://discord.com/users/1018816958587748383",
    image: "/icons/discord.png",
  },
  {
    name: "Github",
    url: "https://github.com/Zemerik",
    image: "/icons/github.png",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hemang Yadav (Zemerik)'s Links</title>
  </head>
  <body class="bg-gradient-to-b from-blue-300 bg-blue-800">
    <main
      class="max-w-sm w-screen min-h-screen mx-auto shadow-lg py-20 px-5 flex flex-col items-stretch justify-center"
    >
      <div
        class="kotak rounded-lg w-[160px] min-h-[160px] h-[160px] self-center"
      >
        <img
          class="w-full h-full rounded-full"
          src="/hemang.png"
          alt="Hemang Yadav"
        />
      </div>

      <div class="flex text-cyan-50 flex-col items-center mt-8">
        <h1 class="text-2xl font-semibold">HEMANG YADAV</h1>
        <p>A Passionate Developer</p>
      </div>

      <ul class="mt-10 space-y-3">
        {
          links.map((link) => (
            <li class="hover:-translate-y-1 transition duration-150 hover:shadow">
              <a href={link.url}>
                <div class="kotak font-semibold text-lg text-white text-center tracking-wide rounded-lg w-full bg-blue-800 hover:bg-blue-800 duration-150 px-10 py-6">
                  {link.name}
                </div>
              </a>
            </li>
          ))
        }
      </ul>

      <ul class="flex mt-10 justify-center space-x-4">
        {
          socialLinks.map((link) => (
            <li class="hover:-translate-y-1 duration-100">
              <a href={link.url} target = "_blank">
                <div class="rounded-full w-[60px] h-[60px] bg-white-900 border-2 border-white-700 p-4 hover:bg-white-800 duration-100">
                  <img src={link.image} alt="" />
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
